<nav class="navbar navbar-default" style="background-color: #028090; margin-top: 30px; border: 0px;">
     <div class="container" style="">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><a href="/home" style="color: #eee5e9;">Мої грошики</a></li>
           <li><a href="/about" style="color: #eee5e9;">Про нас</a></li>
           <li><a href="/categories" style="color: #eee5e9;">Категорії</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
