{% extends 'layout.html' %}
{% block body %}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Statistics for curent week"
	},
	data: [{
		type: "column", //change type to bar, line, area, pie, etc
		//indexLabel: "{y}", //Shows y value on all Data Points
		indexLabelFontColor: "#5A5757",
		indexLabelPlacement: "outside",
		dataPoints: [
			{ x: 10, y: 23 , indexLabel: "Food"},
			{ x: 20, y: 55, indexLabel: "Clothes" },
			{ x: 30, y: 50, indexLabel: "Transportation" },
			{ x: 40, y: 65, indexLabel: "Phone" },
			{ x: 50, y: 92, indexLabel: "Fun" },
			{ x: 60, y: 68, indexLabel: "Sport" },
			{ x: 70, y: 38 , indexLabel: "Gifts"},
			{ x: 80, y: 38 , indexLabel: "Rent"},
            { x: 90, y: 38 , indexLabel: "Utilities"},
            { x: 100, y: 38 , indexLabel: "Travel"},
            { x: 110, y: 28 , indexLabel: "Personal care"},
            { x: 120, y: 38 , indexLabel: "Health"},
            { x: 130, y: 38 , indexLabel: "Housing"},
            { x: 140, y: 38 , indexLabel: "Supplies"},
            { x: 150, y: 38 , indexLabel: "Education"},
            { x: 160, y: 38 , indexLabel: "Other"}
		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
