<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Statistics for today 17.01.2018"
	},
	data: [{
		type: "column", //change type to bar, line, area, pie, etc
		//indexLabel: "{y}", //Shows y value on all Data Points
		indexLabelFontColor: "#5A5757",
		indexLabelPlacement: "outside",
		dataPoints: [
			{ x: 10, y: 71 , indexLabel: "Fun"},
			{ x: 20, y: 55, indexLabel: "Utilities" },
			{ x: 30, y: 50, indexLabel: "Transportation" },
			{ x: 40, y: 65, indexLabel: "Food" },
			{ x: 50, y: 92, indexLabel: "Sport" },
			{ x: 60, y: 68, indexLabel: "Housing" },
			{ x: 70, y: 38 , indexLabel: "Other"}
		]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
