{% extends 'layout.html' %}
{% block body %}
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Statistics for the week 15.01.2018 - 21.01.2018 "
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [
			{ y: 51.08, label: "Food" },
			{ y: 27.34, label: "Transportation" },
			{ y: 10.62, label: "Clothes" },
			{ y: 5.02, label: "Housing" },
			{ y: 4.07, label: "Others" },
			{ y: 1.22, label: "Utilities" },
			{ y: 14.44, label: "Fun" },
            { y: 1.44, label: "Phone" },
            { y: 2.44, label: "Sport" },
            { y: 0.44, label: "Gifts" },
            { y: 1.44, label: "Rent" },
            { y: 90.44, label: "Travel" },
            { y: 6.44, label: "Personal care" },
            { y: 10.44, label: "Health" },
            { y: 44, label: "Supplies" },
            { y: 0, label: "Education" }

		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}