{% extends 'layout.html' %}

{% block body %}
 <div style="background-color: #f2e9e4; padding-bottom: 20px; padding-top: 10px; padding-left: 10px; border-radius: 20px; >
<h5 style="font-family: 'Book Antiqua'; margin-left: 50px; font-size: 15pt;">Введіть суми, відділяючи їх пробілами. <br>
Наприклад: 50 34.50 20 10 <br>
Якщо ви хочете внести 5 гривень 5 копійок, напишіть: 5.05 </h5>
<form action="/input" method ='post' style="margin-left: 50px;">
		<input type="text" name='food'>  Їжа</br>
		<input type="text" name='clothes'>  Одяг</br>
		<input type="text" name='transportation'>  Транспорт</br>
		<input type="text" name='phone'>  Мобільний зв'язок</br>
		<input type="text" name='fun'>  Розваги</br>
    <input type="text" name='sport'>  Спорт</br>
		<input type="text" name='gifts'>  Подарунки</br>
		<input type="text" name='rent'>  Оплата житла</br>
		<input type="text" name='utilities'>  Комунальні послуги</br>
		<input type="text" name='travel'>  Подорожі</br>
		<input type="text" name='personalcare'>  Догляд за собою</br>
		<input type="text" name='health'>  Здоров'я</br>
		<input type="text" name='housing'>  Товари для дому</br>
		<input type="text" name='supplies'>  Канцелярія</br>
		<input type="text" name='education'>  Освіта(курси і тд)</br>
		<input type="text" name='other'>  Інше</br>
    <input type="submit" value="Внести" style="margin-top: 10px; border-radius:20px; background-color: #456990; width: 150px; position: center; color: whitesmoke"/>
  </form>
 </div>
{% endblock %}
