{% extends 'layout.html' %}

{% block body %}
<form action="/input" method ='post'>
		<input type="text" name='food'>Їжа</br>
		<input type="text" name='clothes'>Одяг</br>
		<input type="text" name='transportation'>Транспорт</br>
		<input type="text" name='phone'>Мобільний зв'язок</br>
		<input type="text" name='fun'>Розваги</br>
    <input type="text" name='sport'>Спорт</br>
		<input type="text" name='gifts'>Подарунки</br>
		<input type="text" name='rent'>Оплата житла</br>
		<input type="text" name='utilities'>Комунальні послуги</br>
		<input type="text" name='travel'>Подорожі</br>
		<input type="text" name='personalcare'>Догляд за собою</br>
		<input type="text" name='health'>Здоров'я</br>
		<input type="text" name='housing'>Товари для дому</br>
		<input type="text" name='supplies'>Канцелярія</br>
		<input type="text" name='education'>Освіта(курси і тд)</br>
		<input type="text" name='other'>Інше</br>
    <input type="submit" value="Внести" />
  </form>
{% endblock %}
