<!DOCTYPE html>
<html>
  <head>
    <div id='player'>
      <audio controls autoplay hidden>
        <source src='static/music.mp3' type='audio/mpeg'>
        </audio>
      </div>
    <style>
   body {
    background: url(https://www.freeimageslive.co.uk/files/images006/tree_background.jpg) repeat-y 30% 0,
                #fc0 url(images/bg-right.png) repeat-y 100% 0;
   }
  </style>
    <meta charset="utf-8">
    <title>MyMoneyApp</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
    {% block body %}
    {% endblock %}
  </div>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </body>
</html>
