{% extends 'layout.html' %}
{% block body%}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,

	title:{
		text:"Category"
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		interlacedColor: "rgba(1,77,101,.2)",
		gridColor: "rgba(1,77,101,.1)",
		title: "Everyday money spent"
	},
	data: [{
		type: "bar",
		name: "companies",
		axisYType: "secondary",
		color: "#014D65",
		dataPoints: [
			{ y: 3, label: "31.11.2017" },
			{ y: 13, label: "1.01.2018" },
			{ y: 20, label: "2.01.2018" },
			{ y: 31, label: "3.01.2018" },
			{ y: 7, label: "4.01.2018" },
			{ y: 7, label: "5.01.2018" },
			{ y: 72, label: "6.01.2018" },
			{ y: 8, label: "7.01.2018" },
			{ y: 11, label: "8.01.2018" },
			{ y: 15, label: "9.01.2018" },
			{ y: 12, label: "10.01.2018" },
			{ y: 15, label: "11.01.2018" },
			{ y: 25, label: "12.01.2018" },
			{ y: 28, label: "13.01.2018" },
			{ y: 29, label: "14.01.2018" },
			{ y: 52, label: "15.01.2018" },
			{ y: 10, label: "16.01.2018" },
			{ y: 13, label: "17.01.2018" }
		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}